# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Logs
*.log

# Environment variables
.env
bin
include
lib 
*cfg
credentials.json
launch.jsonr
mail_metrix